.buttonNew{
    background-color: #A6B9B8; /* Green */
    border: none;
    color: black;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
    
    /* Hover */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttonNew:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}